/* ACCIONES */
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.actions input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

/* TABLA */
.table-container {
    background: white;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #1f2a63;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f5f7fb;
}

/* BOTONES */
.btn-primary {
    background: #f4c430;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-secondary {
    background: #2f5fd0;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-warning {
    background: #ff9800;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-danger {
    background: #e53935;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}
